<html>

<head>
<title>GIS Tutorial 2</title>
</head>

<body>

<h1>Reading in Data from Raster</h1>
<p>GIS data is often only available as a raster.</p>

<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
